<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361882616024-d49a5olarqit8oiejmsohfkased3nok6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361882616024-d49a5olarqit8oiejmsohfkased3nok6</string>
	<key>API_KEY</key>
	<string>AIzaSyCSNqXKypq1hIuysijFN1EPR9FV2-ePSsI</string>
	<key>GCM_SENDER_ID</key>
	<string>361882616024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dating.nubae</string>
	<key>PROJECT_ID</key>
	<string>digital-display-287616</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-display-287616.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361882616024:ios:af4eba8885273e91b3d7ad</string>
	<key>DATABASE_URL</key>
	<string>https://digital-display-287616.firebaseio.com</string>
</dict>
</plist>