<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112679823627-ipqqs7p2gglajuq25gtcvut6hj4k9o8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112679823627-ipqqs7p2gglajuq25gtcvut6hj4k9o8s</string>
	<key>API_KEY</key>
	<string>AIzaSyBoQaOw2PRRu5mkLtBxw5eimgBiuAxhYpw</string>
	<key>GCM_SENDER_ID</key>
	<string>112679823627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crissi.nubae</string>
	<key>PROJECT_ID</key>
	<string>nubae-c1b63</string>
	<key>STORAGE_BUCKET</key>
	<string>nubae-c1b63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112679823627:ios:26039488d14fdad15e5a0e</string>
	<key>DATABASE_URL</key>
	<string>https://nubae-c1b63.firebaseio.com</string>
</dict>
</plist>